
    h1 {
      text-align: center;
      text-shadow: 4px 4px 4px #aaa;
      }
    h3 {
      color: black;
    }

    p {
      font-family: 'Tangerine';
      font-size: 18px;
      text-shadow: 4px 4px 4px #aaa;
    }
    ul {
      font-family: 'Tangerine';
      font-size: 18px;
      text-shadow: 4px 4px 4px #aaa;
    }
