body {
  color:#000066;
  background-color: #FFFFD1;
  background-image: url("SF_From_Marin_Highlands.jpg");
}
a:link {
  color:#00099;
}
a:visited {
  color:#ff0000;
}
a:hover {
  color:#FF6699;
}

#container {
  width: 100%;
  height: 100%;
}

/*#background {
  opacity:0.5;
  align-content: center;
  background: no-repeat fixed center;
}*/

#title {
  font-size: 2em;
  font-weight:bold;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:auto;
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;

  border-style: groove;
  border-color: #cccce0;
  border-width: 5px
}

#intro /*one liner describing self*/ {
  font-size: 1.5em;
  width: 100%;
  height: 40%;
  text-align: center;
  margin:auto;
  /*border: 1px solid black;*/
  border-style: groove;
  border-color: #cccce0;
  border-width: 1px;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
}


#blog {
  font-size: 1em;
  width: 80%;
  height: 100%;
  margin:auto;
  border-bottom: 1px solid black;
  padding: 30px;
  /*background-color: #0066FF*/
  color:black;
}

h3 {
  text-align: center;
  font-weight: bold;
  color:black;
}

#mypix {
  border: 5px solid black;
  height:160px;
  width:83%;
  text-align: center;
  /*margin: 10px;*/

}

#cultural_blogs {
  font-size: 1em;
  text-align: center;
  width: 150px;
  height: 100%;
  padding: 5px;
  padding-top: 15px;
  float: left;

  /*border: 4px solid black;*/
  border-style: groove;
  border-color: gray;
  background-color: #cccce0;
}

#techie_blogs {
  font-size: 1em;
  text-align: center;
  width: 15%;
  height: 100%;
  padding: 5px;
  padding-top: 15px;
  float: right;
  color:black;
  /*border: 4px solid black;*/
  border-style: groove;
  border-color: gray;
  background-color: #cccce0;
}

.blog_header {
  border: 2px solid black;
  color:black;
}
#text {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%
}

#footer {
  font-size: 1em;
  text-align:center;
  width: 90%;
  height: 100%;
  margin:auto;
  padding-top:10px;
  clear: both;
  /*position: absolute;*/
}

